<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @diary.body %>
</p>

<%= link_to '編集', edit_diary_path(@diary) %> |
<%= link_to '戻る', diaries_path %>
